APP_DEBUG = true
APP_KEY = change-me-to-a-random-string

DB_TYPE = mysql
DB_HOST = 127.0.0.1
DB_NAME = test
DB_USER = username
DB_PASS = password
DB_PORT = 3306
DB_CHARSET = utf8

DEEPSEEK_API_KEY =

DEFAULT_LANG = zh-cn
